*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

/*---------- navbar ---------*/
nav{
    width: 100%;
    text-align: right;
}

.logo{
    width: 200px;
    height: 70px;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    padding: 10px;
    position: absolute;
}

nav ul{
    background: rgb(7, 7, 26);
    width: 100%;
    margin-top: 0;
    height: 80px;
    padding-top: 10px;
    padding-right: 20px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 20px;
    color: white;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: orangered;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav ul li:hover::after{
    width: 100%;
}

.text{
    padding: 20px 8%;
}

nav.sticky{
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

nav.sticky ul{
    width: 100%;
}


/*---------- header ----------*/
.header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,6,30,0.7),rgba(4,6,30,0.7)),url(Image/Picture37.jpg);
    background-position: center;
    background-size: cover;
    text-align: left;
    color: white;
}

.header h1{
    font-size: 100px;
    font-weight: 30px;
    margin-top: 0%;
    padding-left: 100px;
    margin-bottom: 10px;
}

.hdabtn{
    padding: 15px;
    margin-left: 150px;
    display: flex;
    justify-content: space-around;
}

.header h2{
    text-align: right;
    padding-top: 10%;
    margin-right: 5%;
    font-size: 40px;
}

.hero-btn{
    text-decoration: none;
    color: rgb(2, 2, 53);
    border: 2px solid rgb(2, 2, 53);
    padding: 12px 34px;
    background: orangered;
    cursor: pointer;
    top: 80%;
    left: 45%;
    border-radius: 20px;

}

.hero-btn:hover{
    border: 2px solid white;
    color: white;
    background: transparent;
    transition: 1s;
}



/*------------- Quote Section -------*/
.quote{
    width: 100%;
    margin: auto;
    padding-top: 70px;
    text-align: center;
    background-color: rgb(7, 7, 26);
    height: 450px;
}


.quote h1{
    font-size: 50px;
    color: white;
    padding: 30px;
}

.quote p{
    font-size: 20px;
    color: white;
    margin-bottom: 1%;
}

.quote hr{
    color: orangered;
    width: 80%;
    margin: auto;
}


/*------ Welcome Section -------*/
.welcome-section{
    width: 80%;
    margin: auto;
    background-color: white;
}

.thegoal{
    text-align: center;
    padding: 50px;
    color: rgb(7, 7, 26);
}

.thegoal h1{
    font-size: 50px;
    font-weight: bold;
    padding: 20px;
}

.thegoal p{
    font-size: 25px;
}

.rw1{
    display: flex;
    margin-top: 50px;
}

.video{
    width: 50%;
    min-height: 400px;
    position: center;
}

.about-us{
    margin-top: 30px;
    text-align: center;
    padding-left: 5%;
}

.about-us p{
    font-size: 35px;
    color: rgb(2, 2, 53);
    padding: 20px;
}

.rw2{
    display: flex;
    justify-content: space-around;
    font-weight: 35%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.abus{
    flex-basis: 30%;
    padding-top: 20px;
    border-radius: 10px;
    text-align: left;
    font-size: 25px;
    padding-right: 15px;
}

.abus a{
    font-size: 16px;
}

.rw3{
    display: flex;
    justify-content: space-around;
    flex-basis: 30%;
    text-align: center;
    margin-bottom: 2%;
}

.he1{
    padding-left: 150px;
}

.he2{
    padding-right: 100px;
    font-size: 25px;
}

.hero-btn2{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 2px solid orangered;
    padding: 12px 34px;
    background: orangered;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 20px;
}

.hero-btn2:hover{
    border: 2px solid orangered;
    background: transparent;
    transition: 1s;
}

.hero-btn1{
    text-decoration: none;
    color: black;
    border: 2px solid orangered;
    padding: 12px 34px;
    background: orangered;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 20px;
}

.hero-btn1:hover{
    border: 2px solid orangered;
    background: transparent;
    transition: 1s;
}


/*------------- Section Partnership -----------*/
.partnership{
    width: 100%;
    height: 750px;
    background-color:rgb(173, 173, 173);
    background-image: linear-gradient(rgba(4,6,30,0.7)
    ,rgba(4,6,30,0.7)), url(Image/man\ on\ cliff.jpg);
    background-repeat: no-repeat;
    background-size: 40% 100%;
    background-position: right;
}

.partnership1{
    width: 80%;
    margin: auto;
    padding-top: 3%;
}

.partnership h1{
    font-size: 50px;
    color: rgba(2, 6, 43, 0.952);
    padding: 50px;
    text-align: left;
}

.partnership p{
    font-size: 25px;
    color: orangered;
    padding: 0 50px;
    text-align: justify;
}

.row3{
    display: flex;
    font-weight: 20px;
    color: orangered;
    margin-bottom: 3%;
    padding: 15px 50px;
}

.row3b{
    float: right;
    padding-left: 150px;
    font-size: 30px;
    text-align: center;
}

.row3b a{
    font-size: 15px;
}

.row3 h1{
    text-align: center;
    font-size: 20px;
    padding: 10px;
    color: rgb(2, 2, 53);
}

.row3 p{
    padding: 10px;
    color: orangered;
    text-align: left;
}

.strategies{
    flex-basis: 30%;
    background: #ffff;
    padding: 15px 15px;
    border-radius: 10px;
    box-sizing: border-box;
}

.row4{
    display: flex;
    justify-content: space-around;
    font-weight: 30px;
    color: orangered;
    width: 60%;
}

.hero-btn4{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 2px solid orangered;
    padding: 12px 34px;
    background: transparent;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 20px;
}

.hero-btn4:hover{
    background: orangered;
    transition: 1s;
}


/*------------- Quote1 Section -------*/
.quote1{
    width: 100%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
    background-color: rgb(7, 7, 26);
    height: 400px;
}


.quote1 h1{
    font-size: 50px;
    color: white;
    padding: 30px;
}

.quote1 p{
    font-size: 20px;
    color: white;
    margin-bottom: 1%;
}

.quote1 hr{
    color: orangered;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}



/*--------------- Section Programmes -----------*/
.programmes{
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: larger;
    padding: 20px;
    height: 1080px;
    color: rgb(2, 2, 53);
}

.programmes p{
    margin-bottom: 2%;
    padding: 10px;
    font-size: 25px;
}

.programmes h1{
    font-size: 60px;
    color:  rgb(2, 2, 53);
    margin-top: 5%;
    margin-bottom: 1%;
}

.programme1 h1{
    font-size: 40px;
    color: orangered;
}

.programme1 h1:hover{
    color: white;
}

.row5{
    display: flex;
    justify-content: space-between;
    font-weight: 30px;
    color: white;
    padding: 0 50px;
}

.programme1{
    background: transparent;
    height: 100%;
    width: 100%;
    top: 0;
    left: 10;
    transition: 0.5s;
    padding-bottom: 20px;
}

.programme1:hover{
    background: rgb(7, 7, 26);
}

.hero-btn5{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: orangered;
    border: 2px solid orangered;
    padding: 12px 34px;
    background: transparent;
    cursor: pointer;
    border-radius: 20px;
}

.hero-btn5:hover{
    background: orangered;
    color: rgba(5, 9, 58, 0.87);
    transition: 1s;
}

.probas{
    width: 80%;
    margin: auto;
}

.probas{
    display: flex;
    justify-content: space-around;
}

.probas1:nth-child(2){
    margin-right: 15%;
    text-align: center;
}


/*------------- Quote Section -------*/
.quote2{
    width: 100%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
    background-color: rgb(7, 7, 26);
    height: 450px;
}


.quote2 h1{
    font-size: 50px;
    color: white;
    padding: 20px;
}

.quote2 p{
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

.quote2 hr{
    color: orangered;
    width: 80%;
    margin: auto;
}


/*---------- New Section Books ---------*/

.book{
    width: 80%;
    margin: auto;
    padding-top: 10%;
    height: 850px;
    padding-left: 50px;
    text-align: center;
    display: flex;
    margin-bottom: 3%;
}

.book1 img{
    width: 120%;
    margin-left: 10%;
}

.books h1{
    font-size: 40px;
    color: rgb(7, 7, 26);
    margin-top: 5%;
    text-align: left;
    margin-bottom: 3%;
}

.books p{
    font-size: 20px;
    color: orangered;
    text-align: justify;
}

.book1{
    width: 100%;
    margin: auto;
    padding: 5%;
    margin-bottom: 3%;
}

.book2{
    width: 70%;
    margin: auto;
    text-align: left;
    margin-right: 10%;
}

.book2{
    display: flex;
    justify-content: space-around;
}


.b-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(7, 7, 26);
    border: 2px solid orangered;
    padding: 12px 34px;
    background: transparent;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 20px;
}

.b-btn:hover{
    border: 2px solid white;
    background: rgb(7, 7, 26);
    color: white;
    transition: 1s;
}


/*---------- Contact form ----------*/
.cfs{
    height: 650px;
    background-image: linear-gradient(rgba(4,6,30,0.7),
    rgba(4,6,30,0.7)),url(Image/Picture2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    margin: auto;
}

.cf{
    width: 100%;
    margin: auto;
    max-width: 600px;
    padding: 30px 40px;
    text-align: center;
    margin-bottom: 3%;
    padding-top: 7%;
}

.cf1{
    border: 2px solid orangered;
    margin: 10px 0px;
    padding: 6px 20px;
    border-radius: 20px;
}

.cf h1{
    font-weight: 500;
    font-size: 25px;
    color: white;
}

.cf1 label{
    font-size: 15px;
    color: white;
    display: block;
    text-align: left;
}

.cf1 input, .cf1 textarea{
    width: 100%;
    font-size: 20px;
    margin-top: 5px;
    border: none;
    background: none;
    outline: none;
    color: white;
}

.button{
    width: 30%;
    background-color: orangered;
    display: block;
    padding: 10px 0px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 5px;
    cursor: pointer;
    color: rgb(7, 7, 26);
    margin: auto;
    border: 2px solid orangered;
    border-radius: 30px;
}

.button:hover{
    background-color: white;
}


/*----------- Section Video ----------*/
.videos{
    width: 100%;
    font-size: 20px;
    font-weight: 30px;
    padding: 40px;
    background: white;
    text-align: center;
}

.videos h1{
    text-align: left;
    font-size: 50px;
    margin-top: 5%;
    margin-left: 10%;
    color: rgb(2, 2, 53);
    
}

.row6{
    display: flex;
    justify-content: space-around;
    color: white;
    margin-bottom: 2%;
    margin-top: 3%;
}

.vbtn{
    display: inline-block;
    text-decoration: none;
    color: rgb(2, 2, 53);
    border: 2px solid orangered;
    padding: 12px 34px;
    background: transparent;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 20px;
    margin-bottom: 5%;
}

.vbtn:hover{
    background: orangered;
    border: 2px solid rgb(2, 2, 53);
    transition: 1s;
    color: white;
}

hr{
    width: 80%;
    margin: auto;
    color: rgb(2, 2, 53);
}

/*--------------- blog Section -----------*/
.blogs{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: larger;
    padding: 20px;
    height: 700px;
    color: rgb(2, 2, 53);
    margin-bottom: 3%;
}

.blogs h1{
    font-size: 40px;
    color:  rgb(2, 2, 53);
    margin-bottom: 2%;
    text-align: left;
}

.blog{
    display: flex;
    font-size: 20px;
}

.blog1 img{
    justify-content: space-between;
    border-radius: 20px;
}

.blog1:last-child{
    padding-left: 10px;
}

.blog h2{
    text-align: left;
    color: rgb(2, 2, 53);
}

.blog p{
    text-align: left;    
}

.blog-btn{
    display: inline-block;
    text-decoration: none;
    color: rgba(5, 9, 58, 0.87);
    border: 2px solid orangered;
    padding: 10px 34px;
    background: transparent;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 20%;
}

.blog-btn:hover{
    background: orangered;
    border: 2px solid rgb(2, 2, 53);
    transition: 1s;
}


/*------------- Quote Section -------*/
.quote3{
    width: 100%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
    background-color: rgb(7, 7, 26);
    height: 450px;
}


.quote3 h1{
    font-size: 50px;
    color: white;
    padding: 20px;
    margin-bottom: 2%;
}

.quote3 p{
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

.quote3 hr{
    color: orangered;
    width: 80%;
    margin: auto;
}


/*-------- Call To Action --------*/

.cta{
    width: 100;
    background-image: linear-gradient(rgba(4,6,30,0.7),rgba(4,6,30,0.7)),url(Image/write-down-themes.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    height: 450px;
}

.cta h1{
    font-weight: 50px;
    font-size: 60px;
    color: white;
    margin-bottom: 10px;
}

.cta p{
    font-size: 30px;
    font-weight: 30px;
    color: white;
    margin-bottom: 20px;
}

.cta1{
    width: 80%;
    margin: auto;
    max-width: 600px;
    background: orangered;
    margin-top: 2%;
    margin-top: 0%;
    left: 31%;
    padding: 10px 30px;
    border-radius: 20PX;
    text-align: center;
}


.cta1 label{
    font-size: 20px;
    color: white;
    display: block;
    text-align: left;
}

.cta1 input{
    width: 100%;
    font-size: 15px;
    margin-top: 5px;
    border: orangered;
    background: white;
    outline: none;
}

.Button{
    width: 8%;
    background-color: transparent;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    color: white;
    margin: auto;
    border: 1px solid orangered;
    border-radius: 30px;
}

.Button:hover{
    background-color: orangered;
}



/* --------- footer -----------*/

.footer{
    width: 100%;
    margin: auto;
    padding: 50px;
    text-align: left;
    background-color: rgb(7, 7, 26);
    height: 530px;
}

.footer h1{
    font-size: 40px;
    color: orangered;
}

.footer p{
    font-size: 20px;
    color: white;
}

.row9{
    display: flex;
    justify-content: space-around;
    font-weight: 30px;
    color: white;
    padding: 10px;
}

.footer-col{
    flex-basis: 20%;
    border-radius: 10px;
    margin-bottom: 1%;
    text-align: left;
    padding: 10px;
    background: transparent;
    border: none;
    text-decoration: none;
}

.footer-col h2{
    font-size: 20px;
    color: orangered;
    padding: 10px;
}

.footer-col p a{
    font-size: 15px;
    padding: 20px;
    color: white;
    text-decoration: none;
}

.address p{
    padding-left: 20px;
}

hr{
    color: white;
}

.footlt{
    text-align: center;
    padding: 10px;
}
